.sbc-navigation-menu {
    display: block !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
    height: 5% !important;
}

.dark{
    /*background: #000 !important;*/
    background: #4c1f78 !important;
    background: radial-gradient(circle at center bottom, rgba(70, 20, 82, 1) 5%, rgba(9, 9, 11, 1) 60%) !important;
}

.light {
    background: #c48ad1 !important;
    background: radial-gradient(circle at center bottom, rgba(196, 138, 209, 1) 5%, rgba(252, 251, 244, 1) 60%) !important;
}

/*.dark .sbc-navigation-menu {*/
/*    background: #000 !important;*/
/*}*/