.sbc-navigation-menu {
    display: block !important;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
    height: 5% !important;
}

.sbc-ac-list {
    top: 13rem !important;
    left: 1.7rem !important;
}

.dark{
    scrollbar-color: white transparent;
    background: radial-gradient(circle at center bottom,rgba(137, 55, 219, 1) 1%, rgba(93, 39, 138, 1) 25%, rgba(9, 9, 11, 1) 55%) !important;
}

.light {
    scrollbar-color: black transparent;
    background: radial-gradient(circle at center bottom,rgba(137, 55, 219, 1) 1%, rgba(189, 149, 222, 1) 25%, rgba(252, 251, 244, 1) 55%) !important;
}
