@inherits LayoutComponentBase
@inject Initialization init

<div @onclick="init.HandleMainLayoutClickEvent">
    @Body
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This initializes the theme for the components.
        // Then you can use init.ToggleTheme() to toggle between light and dark modes.    
        if (firstRender)
        {
            await init.InitializeTheme();
        }; 
    }
}