@using Frontend.ViewModels


<section class="flex-col">
    <h2>Create Module</h2>
    <div style="justify-content: space-evenly" class="flex-col">
        <CascadingValue Value="@ViewModel.CreateModuleErrors">
            <div class="flex-col">
                <Input Label="Name" Info="This is your new modules name" 
                       Type="text" TItem="string" 
                       Placeholder="Very important university class.." 
                       Value="@ViewModel.NewModuleName"
                       ValueChanged="x => ViewModel.NewModuleName = x"
                       Error="Name" 
                       style="min-width: 40rem"/>
            </div>
            <div class="flex-col">
                <Input Label="Description" 
                       Info="Add a description so you dont forget the purpose!" 
                       Type="text" TItem="string" 
                       Placeholder="... or just a random interest? " 
                       Value="@ViewModel.NewModuleDescription" 
                       ValueChanged="x => ViewModel.NewModuleDescription = x"
                       Error="Description" 
                       style="min-width: 40rem"/>
            </div>
            <Button Text="Submit" Width="fit-content" OnClick="ViewModel.CreateNewModuleCommand.Execute"/>
        </CascadingValue>
    </div>
</section>
@code{

    [CascadingParameter(Name = "ViewModel")]
    public required StudyManagementViewModel ViewModel { get; set; }

}