<div class="flex-row center-h">
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
    <ModuleOverviewItem></ModuleOverviewItem>
</div>

@code {
    
}