@using Core.Entities
<div class="flex-row center-h">
    @foreach (var module in Modules)
    {
       
        <ModuleOverviewItem Module="@module"></ModuleOverviewItem>
    }
</div>

@code {
    [Parameter] public required IEnumerable<Module> Modules { get; set; } = null!;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

}