@using System.Drawing
<div class="module-overview-item center-hv">
    <Card>
        <CardContent>
                <div class="progress-bar" style="width: 60%"></div>
                <div class="content center-hv flex-row">
                    <Text Content="Semster #1" Weight="FontWeights.W500" SizeInRem="2"></Text>
                    <Separator Vertical></Separator>
                    <Text Content="60%" Weight="FontWeights.W300" SizeInRem="1"></Text>
                    <Separator Vertical></Separator>
                    <Button Type="ButtonType.Icon" Icon="keyboard_arrow_right" Size="ButtonSize.Small"></Button>
            </div>
        </CardContent>
    </Card>
</div>
@code {
    
}