@page "/authentication"
@using Frontend.Pages.Authentication.Components
@inject NavigationManager NavigationManager


<div class="authentication-container">
    <div>
        <Auth />
    </div>
</div>
